<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать заявку</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>
<div class="profile">
    <h1>Создать новую заявку</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="reg-btn">Создать</button>
    </form>

    <p><a href="{% url 'profile' %}" class="profile-btn">Назад в кабинет</a></p>
</div>
</body>
</html>
